.transactionCardDiv {
    display: flex;
    align-items: center;
    height: 5vh;
    width: 20vw;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    animation: explodeCards ease-in-out 5s 2 alternate forwards;
    overflow: hidden;
}

/*.transactionCardDiv:nth-of-type(2n) {*/
/*    animation: explodeCards 1s forwards;*/
/*}*/

@keyframes explodeCards {
    from {
        top: 47.5vh;
        left: 40vw;
    }
}

@keyframes dimBackground {
    to {background-color: lightgrey;}
}

/*:hover.transactionCardDiv {*/
/*    animation: dimBackground 0.1s ease forwards;*/
/*}*/

.transactionImageDiv {
    width: 20%;
}

.transactionImage {
    width: 80%;
    object-fit: contain;
    border-radius: 50px;
}

.transactionTitleDiv {
    flex-grow: 2;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}
